<a href="https://colab.research.google.com/github/JoySoon/Python_BigData23th/blob/backup/submission/JoySoon/CH02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [ ]:
# 시퀀스 : 0개 이상의 원소가 나열되어서 묶어 있는 자료형
# list, tuple, range, string(str):문자열
[ ] # 대괄호
()  # 소괄호
"", '', '''''', """""" # 문자열

## in, not in

In [ ]:
# 값 in 시퀀스 객체 < - > for 변수명 in 시퀀스 객체
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [ ]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b # bool -> 참과 거짓 (있나요 없나요)

True

In [ ]:
c = "C언어"
c in b, c not in b # 자연어 자주 쓰는 파이썬 (영어 중요)

(False, True)

In [ ]:
name = "강성욱"
"강" in name, "성욱" in name

(True, True)

In [ ]:
sentence = "아버지가 방에 들어가신다"
"아버지" in sentence, "어버니" not in sentence  # 검색기

(True, True)

## 연결(+)

In [ ]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b # 다른 언어에서는 그냥 합치기는 힘든 일 / 연결(concatenate) / 두 개의 원본에 영향을 안준다.

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [ ]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [ ]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
"이삭" + "토스트"

'이삭토스트'

In [ ]:
range(10) + range(10) # 합치기 못함

TypeError: ignored

In [ ]:
# range 합치고 싶으면튜플, 리스트로 바꿔주기
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print("안녕하세요", 1, "학생입니다")

안녕하세요 1 학생입니다

In [ ]:
"안녕하세요" + 1 + "학생입니다." # int + str X

TypeError: ignored

In [ ]:
int("안녕하세요")

ValueError: ignored

In [ ]:
"안녕하세요" + str(1) + "학생입니다"

'안녕하세요1학생입니다'

## 반복 (*)

In [ ]:
# 연결을 n번 이상하는. (시퀀스 객체) * n, n * (시퀀스 객체)
[1, 10, 100, 100] * 3

[1, 10, 100, 100, 1, 10, 100, 100, 1, 10, 100, 100]

In [ ]:
[1, 10, 100, 100] + [1, 10, 100, 100] + [1, 10, 100, 100]

[1, 10, 100, 100, 1, 10, 100, 100, 1, 10, 100, 100]

In [ ]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [ ]:
[0] * 0, [0] * -1 # 0이하의 숫자를 넣으면 빈 리스트

([], [])

In [ ]:
(0) * 0

0

In [ ]:
range(10) * 10

TypeError: ignored

In [ ]:
tuple(range(10)) * 2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
"퇴실" * 5

'퇴실퇴실퇴실퇴실퇴실'

## len()

In [ ]:
# java : array.length(), Js : array.length, python : len(array)
len([1, 2, 3]), len([1, 2, 3]), len(range(2, 5, 2)), len("문자열")

(3, 3, 2, 3)

## index

In [ ]:
# 0부터 시작, 전체길이 - 1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [ ]:
a[2], a[2-1], a[1], a[0]

(300, 200, 200, 100)

In [ ]:
name = "김나나씨"
name[0], name[3]

('김', '씨')

In [ ]:
# 음수인덱스 : 뒤에서부터 카운트, len(시퀀스객체) - n
# a, a(-n) = a[len(a)-n]
print(a)
a[-1], a[len(a)-1]

[100, 200, 300, 400, 500]

(500, 500)

In [ ]:
a[len(a)] # index 범위를 벋어남

IndexError: ignored

## 요소에 값 할당하기
* element, 요소, 구성요소, 원소

In [ ]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 31
a[3] = 88
a[4] = 100
a # 원본에 영향

[5, 13, 31, 88, 100]

In [ ]:
a[5]

IndexError: ignored

## del 시퀀스객체[인덱스]

In [ ]:
print(a)
del a[2]
a

[5, 13, 31, 88, 100]

[5, 13, 88, 100]

In [ ]:
a

[5, 13, 88, 100]

In [ ]:
# 문자열, 튜플, 레인지 - > 읽기전용
s = "book"
del = [2]

SyntaxError: ignored

## 슬라이스

In [ ]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# 슬라이스는 원본에 영향을 미치지 않고 사본 만드는 방법
a[0:4], len(a), a[0:10], a[0:100]

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [ ]:
a[1:1] # 빈 리스트

[]

In [ ]:
a[3:5]

[30, 40]

In [ ]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [ ]:
list(range(1,5,2)), a[1:5:2], a[slice(1, 5, 2)]

([1, 3], [10, 30], [10, 30])

In [ ]:
a[:], a, a[0:len(a)] # 전체를 보여준다

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [ ]:
a[1:], a[1:len(a)]

([10, 20, 30, 40, 50, 60, 70, 80, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [ ]:
a[:5], a[0:5], a[0:5:1]

([0, 10, 20, 30, 40], [0, 10, 20, 30, 40], [0, 10, 20, 30, 40])

In [ ]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [ ]:
a[::-1], a[len(a)::-1], a[0:len(a):-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [])

In [ ]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [ ]:
s = "hello world"
s[::-1], s[::2], s[1:3]

('dlrow olleh', 'hlowrd', 'el')

In [ ]:
# 할당하기 - > 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요 
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [ ]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [ ]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
b[1:10:2] = [0] # 언팩킹 증가폭을 쓰면 갯수 맞춰주기

ValueError: ignored

In [ ]:
# a = [1, 6, 7, 8, 9, 4, 5]
del a[2:5]
a

[1, 6, 4, 5]

# 딕셔너리

In [ ]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [ ]:
young = {
    "말" : "많음",
    "체력" : "딸림",
    "타오고는 지하철" : 1,
    "잔소리여부" : True,
    "좋아하는 언어" : ["파이썬", "자바","자바스크립트"]
}

In [ ]:
# k,v = 1:1 대응
kim = {
    "height" : 170,
    "weight" : 80,
    "height" : 180,
    "weight" : 85
} # 중괄호로 묶어야한다. "key:value" 로 값들이 표현
kim

{'height': 180, 'weight': 85}

In [ ]:
# 시퀀스형 중에 리스트와 딕셔너리 자체만 키값으로 쓸 수 없음
{
    [] = 0
}

SyntaxError: ignored

In [ ]:
{
    1:{
         2:{
            3:{
                4:{

                }
            }
        }
    }
}

{1: {2: {3: {4: {}}}}}

In [ ]:
kim

{'height': 180, 'weight': 85}

In [ ]:
kim["height"]

180

In [ ]:
kim["salary"] = 3000

In [ ]:
kim

{'height': 180, 'weight': 85, 'salary': 3000}

In [ ]:
kim["salary"] = 4000

In [ ]:
kim

{'height': 180, 'weight': 85, 'salary': 4000}

In [ ]:
kim['IQ'] #key error

KeyError: ignored

In [ ]:
'IQ' in kim # 시퀀스 객체 (in) - 요소 / 딕셔너리 - 키 (in) / for in - 반복

False

In [ ]:
'IQ' not in kim

True

In [ ]:
len(kim) # 키의 갯수

3

In [ ]:
list(kim) # dict -> list 감싸주면 - > key를 원소로 가지는 리스트

['height', 'weight', 'salary']

# 조건문

## if

In [ ]:
switch = True
if switch: # if (...): 조건식 - > 최종적으로 bool 형태로 표현할 수 있는 값
    print("아 밝다~") # if 본문

아 밝다~

In [ ]:
temperature = 40
if temperature > 38:
    print("아 덮다")

아 덮다

In [ ]:
temperature = 30
if temperature > 38:
    print("아 덮다")
    print("물 마시고 싶어 #1")
print("물 마시고 싶어 #2")
    print("물 마시고 싶어 #3")

IndentationError: ignored

## else

In [ ]:
temperature = 30
if temperature > 38:
    print("아 덮다")
else : # temperature <= 38:
    print("괜찮다")

괜찮다

## pass

In [ ]:
temperature = 30
if temperature > 38:
    print("아 덮다")
else : # temperature <= 38:
    pass # block 유지 때문에

In [ ]:
pass

In [ ]:
if True:
    
else:
    print('hello')

IndentationError: ignored

In [ ]:
if True:
    pass
else:
    print('hello')

In [ ]:
if True:
    ''
else:
    print('hello')

In [ ]:
name = "김땡땡"

if name == "김땡땡" :
    print("웰컴")

웰컴

In [ ]:
if name = "김땡땡":
    print("웰컴")

SyntaxError: ignored

In [ ]:
if "김" in name:
    print("웰컴")

웰컴

## 삼항연산자 (조건부 표현식)

In [ ]:
a = None
b = True
if b:
    a = 10
else:
    a = 100
a

10

In [ ]:
a = 10 if b else 100 # True 값 if (조건식) else (False 값)
a

10

In [ ]:
a = "환타"

if a == "콜라":
    print("콜라 드세요")
if a == "사이다":
    print("사이다 드세요")
if a == "환타":
    print("환타 드세요")

환타 드세요

# 반복문

## for

In [ ]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
# range(n) : n회 반복
for i in "hello world": # range가 아닌 시퀀스형태의 자료형? list - > v , string -> c
    print(i) # 루프를 돈다

h
e
l
l
o

w
o
r
l
d

In [ ]:
a = ["배", "사과", "바나나"]
for i in a:
    print(i)

배
사과
바나나

In [ ]:
for i in reversed(a): # reverse + ed : 새롭게 형성된 데이터
    print(i)

바나나
사과
배

In [ ]:
a, list(reversed(a)), [a[::-1]]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], [['바나나', '사과', '배']])

## while

In [ ]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
'''
for (i = 0; i < 10: i++) {
    ...
}
'''

In [ ]:
i = 0 # 초기식
while i < 10: # while 조건식
    print(i, end=" ") # ...
    i += 1 # 변화식

0 1 2 3 4 5 6 7 8 9

In [ ]:
money = 10000
hit = 0
while money > 0:
    money -= 1000
    hit += 1
    print(money, "원 남았습니다.", hit, " 대 맞았습니다.")

9000 원 남았습니다. 1  대 맞았습니다.
8000 원 남았습니다. 2  대 맞았습니다.
7000 원 남았습니다. 3  대 맞았습니다.
6000 원 남았습니다. 4  대 맞았습니다.
5000 원 남았습니다. 5  대 맞았습니다.
4000 원 남았습니다. 6  대 맞았습니다.
3000 원 남았습니다. 7  대 맞았습니다.
2000 원 남았습니다. 8  대 맞았습니다.
1000 원 남았습니다. 9  대 맞았습니다.
0 원 남았습니다. 10  대 맞았습니다.

## break, continue

In [ ]:
for i in range(1000):
    print(i, i ** 2)
    if i ** 2 > 1000:
        break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024

In [ ]:
for i in range(1, 1000):
    if i % 3 != 0: #3의 배수가 아닌 것들을 필터링
        continue
    print(i, end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300 303 306 309 312 315 318 321 324 327 330 333 336 339 342 345 348 351 354 357 360 363 366 369 372 375 378 381 384 387 390 393 396 399 402 405 408 411 414 417 420 423 426 429 432 435 438 441 444 447 450 453 456 459 462 465 468 471 474 477 480 483 486 489 492 495 498 501 504 507 510 513 516 519 522 525 528 531 534 537 540 543 546 549 552 555 558 561 564 567 570 573 576 579 582 585 588 591 594 597 600 603 606 609 612 615 618 621 624 627 630 633 636 639 642 645 648 651 654 657 660 663 666 669 672 675 678 681 684 687 690 693 696 699 702 705 708 711 714 717 720 723 726 729 732 735 738 741 744 747 750 753 756 759 762 765 768 771 774 777 780 783 786 789 792 795 798 801 804 807 810 813 816 819 822 825 828 831 834 837 840 843 846 849 852 855 858 861 864 867 870 873 876 879 882 885 888 891 894 897 900 903 906 909 912 915 918 921 924 927 930 933 936 939 942 945 948 951 954 957 960 963 966 969 972 975 978 981 984 987 990 993 996 999

In [ ]:
i = 0
while  True:
    i += 1
    print(i)

In [ ]:
money = 10000
hit = 0
while money > 0:
    money -= 100
    if money % 1000 == 0:
        print("피했습니다")
        continue
    hit += 1
    print(hit, " 대 맞았습니다.")

1  대 맞았습니다.
2  대 맞았습니다.
3  대 맞았습니다.
4  대 맞았습니다.
5  대 맞았습니다.
6  대 맞았습니다.
7  대 맞았습니다.
8  대 맞았습니다.
9  대 맞았습니다.
피했습니다
10  대 맞았습니다.
11  대 맞았습니다.
12  대 맞았습니다.
13  대 맞았습니다.
14  대 맞았습니다.
15  대 맞았습니다.
16  대 맞았습니다.
17  대 맞았습니다.
18  대 맞았습니다.
피했습니다
19  대 맞았습니다.
20  대 맞았습니다.
21  대 맞았습니다.
22  대 맞았습니다.
23  대 맞았습니다.
24  대 맞았습니다.
25  대 맞았습니다.
26  대 맞았습니다.
27  대 맞았습니다.
피했습니다
28  대 맞았습니다.
29  대 맞았습니다.
30  대 맞았습니다.
31  대 맞았습니다.
32  대 맞았습니다.
33  대 맞았습니다.
34  대 맞았습니다.
35  대 맞았습니다.
36  대 맞았습니다.
피했습니다
37  대 맞았습니다.
38  대 맞았습니다.
39  대 맞았습니다.
40  대 맞았습니다.
41  대 맞았습니다.
42  대 맞았습니다.
43  대 맞았습니다.
44  대 맞았습니다.
45  대 맞았습니다.
피했습니다
46  대 맞았습니다.
47  대 맞았습니다.
48  대 맞았습니다.
49  대 맞았습니다.
50  대 맞았습니다.
51  대 맞았습니다.
52  대 맞았습니다.
53  대 맞았습니다.
54  대 맞았습니다.
피했습니다
55  대 맞았습니다.
56  대 맞았습니다.
57  대 맞았습니다.
58  대 맞았습니다.
59  대 맞았습니다.
60  대 맞았습니다.
61  대 맞았습니다.
62  대 맞았습니다.
63  대 맞았습니다.
피했습니다
64  대 맞았습니다.
65  대 맞았습니다.
66  대 맞았습니다.
67  대 맞았습니다.
68  대 맞았습니다.
69  대 맞았습니다.
70  대 맞았습니다.
71  대 맞았습니다.
72  대 맞았습니다.
피했습니다
73  대 맞았습니다.
74  대 맞았습니다.
75  대 맞았습니다.
76  대 맞았습니다.
77  대 맞았습니다.
78  대 맞았습니다.
79  대 맞았습니다.
80  대 맞았습니다.
81  대 맞았습니다.
피했습니다
82  대 맞았습니다.
83  대 맞았습니다.
84  대 맞았습니다.
85  대 맞았습니다.
86  대 맞았습니다.
87  대 맞았습니다.
88  대 맞았습니다.
89  대 맞았습니다.
90  대 맞았습니다.
피했습니다