<a href="https://colab.research.google.com/github/JoySoon/Python_BigData23th/blob/main/submission/JoySoon/ch01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print(Hello world) # 문자열을 입력했는데 " " 또는 ''를 감싸주지 않았다.

SyntaxError: ignored

In [5]:
# alt + enter : (셀)을 실행시키고 하단에 새로운 코드 셀을 만들어줌
print("Hello world") # print(입력값) : 함수의 일종, 입력한 값(숫자, 문자열...)을 출력

Hello world

In [6]:
# (Ctrl + M + B) : (셀을 실행시키지 않고) 현재 셀의 하단에 새로운 코드 셀을 만들어줌
# colab은 '리눅스' 환경에서 작동 - > 터미널(입력창)을 통해서 명령어로 작동하는 OS like 윈도우, 안드로이드
# 리눅스의 어떤 특정한 기능을 하기 위해서는 (1) 터미널에 (2) 명령어를 넣어야 한다.
# !를 앞에 붙이고 나면, 리눅스의 터미널(커널)에 명령어를 사용할 수 있음
!python --version

Python 3.8.10

In [10]:
# 파이썬은 세미콜론을 안써도 된다. 쓴다해도 버그가 나지 않는다.
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다. (alt+shif+방향키)
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다. (alt+shif+방향키)
print("OMG") # 줄바꿈 (alt+방향키)
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다. (alt+shif+방향키)
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다. (alt+shif+방향키)
# ctrl + A : 전체지정
# end : 특정 행의 끝 - > shift (범위 지정, 블록 지정) - > home : 특정 행의 시작

Ditto
Ditto
Ditto
OMG
Ditto
Ditto

In [ ]:
# ctrl + A : 전체지정
# end : 특정 행의 끝 - > shift (범위 지정, 블록 지정) - > home : 특정 행의 시작

In [11]:
# ctrl + m + - : 특정 행의 셀 분할
print("뉴진스"); print("르세라핌") # 세미콜론이 있으면 다른 줄로 인식

뉴진스
르세라핌

In [12]:
# 을 입력하고 뒤에 내용을 입력하면 - > 한 줄 주석
# 주석으로 지정하는 단축키 : Ctrl + /
print("주석") # 코드 뒤에 주석이 있어도 실행 영향 X
# print("주석2") # 실행이 안됨

주석

In [13]:
'''
여러 줄 주석을 할 때는 
\'\'\' 또는 """을 입력하세요
'''
print('안녕')

안녕

In [14]:
# 문자열을 입력할 때 외부에 ''(작은 따옴표)로 감쌌으면, 안에 작은 따옴표를 넣으면 X
# 굳이 넣고 싶다 -> 앞에 \를 넣어서 escape시켜서 처리해야함

In [15]:
a = 1
if a != 10: # 특정한 조건을 만족(옳을 때) 시킬 때 작동하는 코드
    print("10이 아니네요") # 특정한 들여쓰기 범위 내에서만 조건 관련 코드

10이 아니네요

In [17]:
if a == 10: # 특정한 조건을 만족(옳을 때)시킬 때 작동하는 코드
   print("10이네요") # 특정한 들여쓰기 범위 내에서만 조건 관련 코드
# 들여쓰기 tab으로 통일

In [19]:
if a == 10:
    print("10이네요")
    if a == 10:
        print("10이네요")

In [20]:
# 정수 (int, integer, 양의 정수와 음의 정수와 0)
# 실수 (float, 실수, 소수, 소수점이 붙어 있음)
1, 1.0

(1, 1.0)

In [23]:
# type : 자료형(데이터타입)을 확인
type(1), type(1.0), type("1")
# str : string, 열, 문자열

(int, float, str)

In [24]:
# 사칙연산 - > 산술연산자, 연산자 : 1개 이상의 피연산자에 대해서 특정 연산(계산)을 실행시키는 명령
1 + 1, 2 - 3, 5 * 8, 13 / 21 #피보나치

(2, -1, 40, 0.6190476190476191)

In [25]:
20 / 4 # 정수 간 (딱 떨어지게) 나누기를 해도 결과값은 무조건 실수

5.0

In [26]:
20 // 4, 25 // 4 # 몫 연산자 (소수점 밑은 버림)

(5, 6)

In [27]:
5.5 // 2, 4 // 1.0, 2.5// 0.2 # 항 중에(피연산자 중에) 하나라도 실수라면 실수 결과값

(2.0, 4.0, 12.0)

In [28]:
# % (나머지 연산자, 모듈로, 모듈러스)
10 % 3, 10 // 3

(1, 3)

In [30]:
# 거듭제곱 연산자 (**) / 루트 연산자도 겸함
2 ** 5, 2 ** 0.5, 3 ** (1/3)

(32, 1.4142135623730951, 1.4422495703074083)

In [33]:
# 값 - >  정수 (int(...))
int(1), int(1.0), int(1*1), int(1*1), int("1")

(1, 1, 1, 1, 1)

In [34]:
int("1,0") # 정수로 변환할 수 없는 숫자 문자열이기 때문에 오류

ValueError: ignored

In [35]:
int("일") # 숫자가 아니기 때문에 오류

ValueError: ignored

In [36]:
# //, % - > 한번에
divmod(5, 2) # divmod(a, b) : a가 나눠지는 수, b가 나누는 수 - > (몫, 나머지) (리턴값, 반환값)

(2, 1)

In [37]:
3.1 + 2.2 # 부동소수점 오류

5.300000000000001

In [39]:
2.7 - 1.5 # 부동소수점 오류

1.2000000000000002

In [40]:
1.5 * 3.1

4.65

In [41]:
5.5 / 3.1

1.7741935483870968

In [43]:
# float - > float(...)
float(1), float(4/5), float("1.0")

(1.0, 0.8, 1.0)

In [45]:
# 텍스트로 특정한 숫자를 받았는데, 정수화를 하고 싶어 -> 이게 소수점이 아니라는 확신이 없을 때
int(float("1.0"))

1

In [46]:
1 + 2 * 3

7

In [47]:
(1 + 2) * 3 # 괄호 안의 값이 먼저 계산됨

9

In [48]:
x = 10 #같다x , 할당o, ==(같다)

In [50]:
x

10

In [51]:
y = "The행복식당"
y

'The행복식당'

In [52]:
type(x), type(y)

(int, str)

* `=` : 대입연산자
* 같다, `==`: 동등 연산자

In [54]:
x = None
print(x)

None

In [55]:
a = 12 + 13 * 10 + 5
b = 17 / 5 * 20 + 19
a + b

234.0

In [56]:
c = a + b
c

234.0

In [71]:
a = 10
a + 20

30

In [72]:
a

10

In [73]:
a = a + 20

In [74]:
a

30

In [75]:
a += 20
a

50

In [76]:
a %= 5
a

0

In [70]:
d += 10 #d가 없어서 (정의되지 않아서) 새로운 값을 더한 뒤 대입

NameError: ignored

In [77]:
d = 10 #변수의 자리를 만드는 걸 '선언', 값을 대입하는 걸 '초기화'
# 초기화 != reset / 초기화 = initialization

In [78]:
input()

hi

'hi'

In [79]:
input('인사를 친절하게 해줘 : ') # 문자열 -> 안내문

인사를 친절하게 해줘 : 싫은데

'싫은데'

In [80]:
x = input() # 프롬프트에 '문자열'을 입력하는 함수(기능)
x

x 하이

'x 하이'

In [82]:
type(x)

str

In [83]:
a = input('숫자를 입력해주세요 : ')
b = input('숫자를 입력해주세요 : ')

a + b

숫자를 입력해주세요 : 1
숫자를 입력해주세요 : 2

'12'

In [85]:
a = input('숫자를 입력해주세요 : ')
b = input('숫자를 입력해주세요 : ')

int(a) + int(b) # 덧셈 연산을 실행하기 앞서서 int가 실행이 되면서 정수로 변환

숫자를 입력해주세요 : 1
숫자를 입력해주세요 : 2

3

In [86]:
a = int(input('숫자를 입력해주세요 : ')) # 변수 a에 대입하기 전에 input의 결과값을 int로 변환
b = int(input('숫자를 입력해주세요 : '))

a + b

숫자를 입력해주세요 : 3
숫자를 입력해주세요 : 4

7

In [87]:
"안녕하세요 여러분" # 문자열 (리터럴)

'안녕하세요 여러분'

In [88]:
type("안녕하세요 여러분")

str

In [91]:
# 특정한 구분자(separator)를 기준으로 문자열을 분리 (기본값 : ' ')
"안녕하세요 여러분" .split() # 특정한 타입, 객체에 내장되어 있는 함수(기능) : 메소드(method)

['안녕하세요', '여러분']

In [92]:
"안녕하세요.여러분" .split()

['안녕하세요.여러분']

In [94]:
"안녕하세요.여러분".split(",") #매개변수(parameter, 인수)
# 매개변수에 들어가는 값 <- 인자(argument)

['안녕하세요.여러분']

In [95]:
a, b = "안녕하세요.여러분".split(",")
# 2개 이상의 값이 결과로 나올 경우,
# 해당 결과의 갯수에 맞게 변수를 위치시켜주면, 알아서 할당됨

ValueError: ignored

In [98]:
a, b = input('문자열 두 개를 스페이스 기준으로 입력해주세요 : ').split()
a, b

문자열 두 개를 스페이스 기준으로 입력해주세요 : 하이 빅스비

('하이', '빅스비')

In [100]:
a, b = input('문자열 두 개를 콤파(,)기준으로 입력해주세요 : ').split(',')
a, b

문자열 두 개를 콤파(,)기준으로 입력해주세요 : 하이,빅스비

('하이', '빅스비')

In [101]:
a, b = input('문자열 두 개를 콤파(,)기준으로 입력해주세요 : ').split(',')
a, b

문자열 두 개를 콤파(,)기준으로 입력해주세요 : 하이,빅스비,하이

ValueError: ignored

In [104]:
a, b = input('숫자 두 개를 입력하세요 : ').split()
a + b

숫자 두 개를 입력하세요 : 5 3

8

In [105]:
a, b = input('숫자 두 개를 입력하세요 : ').split()
int(a) + int(b)

숫자 두 개를 입력하세요 : 3 4

7

In [108]:
a, b = input('숫자 두 개를 입력하세요 : ').split()
a = int(a)
b = int(b)
a + b

숫자 두 개를 입력하세요 : 1 4

5

In [110]:
a, b = map(int, input('숫자 두 개를 입력하세요 : ').split()) # ()는 실행행
# map(실행되기 전에 함수, 함수를 통해서 처리하고 싶은 값들)
a + b

숫자 두 개를 입력하세요 : 2 13

15

In [111]:
a, b = map(float, input('숫자 두 개를 입력하세요 : ').split())
a + b

숫자 두 개를 입력하세요 : 1.3 2.1

3.4000000000000004

In [112]:
print("hello world")

hello world

In [113]:
print("a","b", 1) # 매개변수의 갯수가 정해져 있지 않은 함수 # args..

a b 1

In [119]:
print("a","b", 1, sep=' ') # sep=' '
print("a","b", 1, sep='') 
print("a","b", 1, sep=':') 
print("a","b", 1, sep='랑 ')

a b 1
ab1
a:b:1
a랑 b랑 1

In [122]:
print("민지", end="\n") # 자동으로 줄바꿈이 됨 (end=\n)
print("다이엘")
print("혜인", end='')
print('해린', end = '이라는 사람,\n')
print('하니')

민지
다이엘
혜인해린이라는 사람,
하니

In [123]:
print("민지\n다니엘\n혜인\n해인\n하니")

민지
다니엘
혜인
해인
하니

In [124]:
1_000_000

1000000

In [125]:
_

1000000