<a href="https://colab.research.google.com/github/qus0in/DataAnalysis/blob/main/qus0in/ch05_04_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84%2B%EB%82%9C%EC%88%98%EB%B0%9C%EC%83%9D%EA%B3%BC%2B%EC%B9%B4%EC%9A%B4%ED%8C%85_qus0in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기술 통계

## 기술 통계(descriptive statistics)
> 데이터 집합에 대해 통계를 계산
* 데이터의 개수(count)
* 평균(mean, average)
* 분산(variance)
* 표준 편차(standard deviation)
* 최댓값(maximum)
* 최솟값(minimum)
* 중앙값(median)
* 사분위수(quartile)

In [1]:
import numpy as np

In [2]:
x = np.array([
    18, 5, 10, 23, 19, -8, 10, 0, 0, 5, 2, 15, 8,
    2, 5, 4, 15, -1, 4, -7, -24, 7, 9, -6, 23, -13
])
x

array([ 18,   5,  10,  23,  19,  -8,  10,   0,   0,   5,   2,  15,   8,
         2,   5,   4,  15,  -1,   4,  -7, -24,   7,   9,  -6,  23, -13])

## 데이터의 개수

In [3]:
len(x)

26

## 표본 평균
* 우리가 일반적으로 아는 평균
* 통계용어로는 표본 평균(sample average, sample mean)
<br>
$
\bar{x} = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{x_i}
$
(𝑁은 데이터의 개수)

In [5]:
np.mean(x), x.mean()

(4.8076923076923075, 4.8076923076923075)

## 표본 분산
* 표본 분산(sample variance) : 데이터와 표본 평균간의 거리의 제곱의 평균
* 표본 분산이 작으면 데이터가 모여있는 것이고 크면 흩어져 있는 것
<br>
$
s^2 = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{(x_i-\bar{x})^2}
$

In [6]:
np.var(x)

115.23224852071006

## 표본 표준편차
* 표본 표준편차(sample standard variance) : 표본 분산의 양의 제곱근 값 
<br>
$
s = \sqrt{s^2}
$

In [7]:
np.std(x)

10.734628476137871

## 최댓값과 최솟값

In [8]:
# 최댓값 (maximum) / 최솟값 (minimum)
np.max(x), np.min(x)

(23, -24)

## 중앙값
* 중앙값(median) : 데이터를 크기대로 정렬하였을 때 가장 가운데에 있는 수
* 만약 데이터의 수가 짝수이면 가장 가운데에 있는 두 수의 평균을 사용

In [9]:
np.median(x)

5.0

## 사분위수
* 사분위수(quartile) : 데이터를 가장 작은 수부터 가장 큰 수까지 크기가 커지는 순서대로 정렬하였을 때 1/4, 2/4, 3/4 위치에 있는 수
* 각각 1사분위수, 2사분위수, 3사분위수라고 함
* 1/4의 위치란 전체 데이터의 수가 만약 100개이면 25번째 순서, 즉 하위 25%
* 따라서 2사분위수는 중앙값과 같음
* 때로는 위치를 1/100 단위로 나눈 백분위수(percentile)을 사용하기도 함
* 1사분위수는 25% 백분위수와 같음

In [10]:
np.percentile(x, 0) # 최솟값

-24.0

In [11]:
np.percentile(x, 25) # 25% 백분위수, 1사분위수

0.0

In [12]:
np.percentile(x, 50) # 50% 백분위수, 2사분위수, 중앙값

5.0

In [13]:
np.percentile(x, 75) # 75% 백분위수, 3사분위수

10.0

In [14]:
np.percentile(x, 100) # 100% 백분위수, 최댓값

23.0

# 난수 발생과 카운팅

## 시드 설정
* 컴퓨터 프로그램에서 발생하는 무작위 수는 사실 엄격한 의미의 무작위 수가 아님
* 어떤 특정한 시작 숫자를 정해 주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성. 이런 시작 숫자를 시드(seed)라고 함
* 일단 생성된 난수는 다음번 난수 생성을 위한 시드값이 됨. 따라서 시드값은 한 번만 정해주면 됨.
* 시드는 보통 현재 시각 등을 이용하여 자동으로 정해지지만 사람이 수동으로 설정할 수도 있음 * 특정한 시드값이 사용되면 그 다음에 만들어지는 난수들은 모두 예측할 수 있음
* 고정된 결과를 얻기 위해서 실습엔 시드를 설정

In [18]:
np.random.seed(0) # 시드값 고정

### `rand` : 0과 1 사이의 난수를 발생

In [19]:
np.random.rand(5) # rand(n) n개의 길이를 가지는 배열에 각각 0~1 사이의 난수를 채워줌

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ])

In [20]:
np.random.rand(10)

array([0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152,
       0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606])

## 데이터의 순서 변경

### `shuffle`
* 데이터의 순서를 변경
* 자체 변환(in-place) 함수 (원본에 영향)

In [21]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [22]:
np.random.shuffle(x)
x

array([5, 1, 8, 2, 6, 7, 0, 3, 4, 9])

## 데이터 샘플링
* 표본선택 혹은 샘플링(sampling) : 이미 있는 데이터 집합에서 일부를 무작위로 선택하는 것

### `choice` : 샘플링에 사용
```
numpy.random.choice(a, size=None, replace=True, p=None)
```
* a : 배열이면 원래의 데이터, 정수이면 arange(a) 명령으로 데이터 생성
* size : 정수. 샘플 숫자
* replace : 불리언. True이면 한번 선택한 데이터를 다시 선택 가능 (복원/비복원 추출)
* p : 배열. 각 데이터가 선택될 수 있는 확률

In [23]:
np.random.choice(5, 5, replace=False) # 5개 중에 5개를 선택 -> 비복원 -> shuffle

array([0, 4, 2, 1, 3])

In [24]:
np.random.choice(5, 3, replace=False) # 5개 중에 3개를 선택 -> 비복원

array([4, 2, 3])

In [25]:
# np.random.choice(5, 10, replace=True)
np.random.choice(5, 10) # 복원, 5개 중에 10개를 선택 (뽑았던 것 또 뽑음)

array([0, 2, 4, 3, 3, 2, 4, 2, 0, 0])

In [30]:
# [0, 1, 2, 3, 4]
np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])

array([0, 3, 3, 2, 3, 3, 3, 3, 2, 3])

In [36]:
np.random.choice([1, 5, 10, 20, 100], 10, p=[0.7, 0.2, 0.05, 0.03, 0.02])

array([  1,   1,   1,  20,   1,   1,   1,   1, 100,   1])

## 난수 생성
* `rand` : 0부터 1 사이의 균일 분포
* `randn` : 표준 정규 분포
* `randint` : 균일 분포의 정수 난수

### `rand` : 0부터 1 사이에서 균일한 확률 분포로 실수 난수를 생성
* 숫자 인수는 생성할 난수의 크기
* 여러 개의 인수를 넣으면 해당 크기를 가진 행렬을 생성

In [37]:
np.random.rand(10)

array([0.53702252, 0.44792617, 0.09956909, 0.35231166, 0.46924917,
       0.84114013, 0.90464774, 0.03755938, 0.50831545, 0.16684751])

In [38]:
np.random.rand(3, 5)

array([[0.77905102, 0.8649333 , 0.41139672, 0.13997259, 0.03322239],
       [0.98257496, 0.37329075, 0.42007537, 0.05058812, 0.36549611],
       [0.01662797, 0.23074234, 0.7649117 , 0.94412352, 0.74999925]])

### `randn` : 기댓값이 0이고 표준편차가 1인 표준 정규 분포(standard normal distribution)를 따르는 난수를 생성

In [39]:
np.random.randn(10)

array([-1.38282715e-01, -2.12492027e+00, -1.03001883e+00, -5.17451865e-01,
       -1.41800012e-01, -1.27648021e+00,  1.48151328e+00,  1.65927664e+00,
        1.39611962e-04,  1.50583836e+00])

In [40]:
np.random.randn(3, 5)

array([[ 0.10452092, -0.23604315,  0.81943503,  0.40285644, -1.43824188],
       [ 0.27124883, -0.69060312, -0.68153298, -1.51223065,  2.19689103],
       [ 1.04117502, -0.03323603,  0.06564128,  0.26578572,  1.15184215]])

### `randint`
```
numpy.random.randint(low, high=None, size=None)
```
만약 `high`를 입력하지 않으면 0과 `low`사이의 숫자, `high`를 입력하면 `low`와 `high`는 사이의 숫자를 출력. `size`는 난수의 숫자

In [46]:
np.random.randint(10, size=10)

array([4, 7, 4, 1, 3, 3, 9, 2, 5, 2])

In [47]:
np.random.randint(10, 20, size=10)

array([13, 15, 17, 12, 17, 11, 16, 15, 10, 10])

In [48]:
np.random.randint(10, 20, size=(3, 5))

array([[13, 11, 19, 19, 16],
       [16, 17, 18, 18, 17],
       [10, 18, 16, 18, 19]])

## 💡 연습문제 7
1. 동전을 10번 던져 앞면(숫자 1)과 뒷면(숫자 0)이 나오는 가상 실험을 작성하라
2. 주사위를 100번 던져서 나오는 숫자의 평균
3. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하라

In [49]:
# 1.
np.random.choice([0,1], size=10, replace=True)

array([0, 1, 0, 1, 1, 0, 1, 0, 0, 0])

In [53]:
# 2.
np.random.randint(1,7,100).mean()
np.random.choice(range(1,7), 100, replace=True).mean()

3.41

In [55]:
# 3.
a = np.random.randn(250) / 100 # 일간 수익률의 표준정규분포를 따르는 (0,1%) 수익률 분포

In [57]:
init = 10000
stock = np.empty(250)
for i, v in enumerate(a):
    init *= (1 + v)
    stock[i] = init
stock

array([10121.77640318, 10152.81165637, 10057.39783669, 10123.65773048,
        9990.81484562,  9926.04932778,  9957.71117947, 10210.64231323,
       10140.78627132, 10061.73184527,  9997.09704057, 10125.51465297,
       10194.28149398, 10334.21319856, 10238.54189116, 10369.417876  ,
       10406.8266331 , 10468.81617755, 10406.55602104, 10312.0699735 ,
       10203.65677572, 10213.09867657, 10072.64095249,  9937.0148471 ,
        9872.68007113,  9983.65709438, 10106.03779468, 10094.35066384,
       10063.96336798,  9933.19229527,  9931.97748795,  9922.43618651,
        9838.76756809,  9906.49839766,  9873.41659204,  9838.94619535,
       10023.81048516, 10075.22195396,  9914.19062714,  9975.82426803,
        9897.38820058,  9915.6369055 ,  9965.7918385 ,  9889.34337964,
        9940.21645279,  9938.44512754, 10104.76382179, 10083.61251223,
       10006.91564457, 10061.85735724, 10223.92651623, 10288.65943012,
       10299.49805904, 10498.83599422, 10686.65928769, 10842.36407751,
       10920.41045048, 10826.82243577, 10912.25934767, 10763.61932499,
       10895.75705799, 10960.330348  , 11135.00565889, 11045.18828477,
       11137.19105821, 11142.59527221, 11002.04732358, 10960.56038308,
       11059.19764795, 11148.90291865, 11048.17787265, 11048.54971683,
       11095.92879525, 10924.52872091, 10756.55347257, 10827.40964077,
       10929.34576006, 10964.98614769, 11034.6707433 , 10879.38088733,
       10848.40325694, 10977.25914279, 11061.97752925, 11050.31834183,
       11326.86863083, 11356.63514627, 11316.59922591, 11449.4448443 ,
       11446.25335174, 11355.8276082 , 11353.9817824 , 11412.48489951,
       11380.36629362, 11392.04655057, 11387.91808171, 11153.79937869,
       11057.42547758, 11039.11762071, 11200.19370031, 11208.69323452,
       11373.48225325, 11452.30439677, 11637.48828751, 11524.84103954,
       11685.31456909, 11568.28968304, 11798.27120078, 11600.98184641,
       11404.17966316, 11456.71016895, 11550.99164568, 11502.02179841,
       11467.59747515, 11464.66421893, 11398.29256071, 11498.93146417,
       11521.37384841, 11496.6208336 , 11574.22981958, 11583.48743661,
       11670.68259655, 11523.95954903, 11557.36188183, 11521.07349499,
       11466.71238908, 11430.959657  , 11382.56640515, 11506.53834884,
       11520.08738177, 11498.50043321, 11507.94028156, 11501.26910533,
       11320.17621875, 11397.79428339, 11453.93380311, 11397.75595696,
       11356.34780828, 11379.32314624, 11437.44021979, 11400.0370001 ,
       11452.45612241, 11412.07978167, 11312.26995513, 11290.14362153,
       11277.36142548, 11132.35881759, 11215.48370134, 11016.24898094,
       10970.23636381, 10959.78699765, 11048.09640855, 10790.90251762,
       10981.16634773, 10849.10995473, 10735.5717381 , 10646.86686015,
       10578.58694774, 10349.90368413, 10339.25927308, 10287.906869  ,
       10267.9529567 , 10446.16141005, 10357.84624461, 10213.11377388,
       10190.4217134 , 10098.99902687, 10094.86587275, 10168.90629861,
       10060.00714605, 10322.66116561, 10464.87583047, 10492.84552395,
       10567.91875555, 10539.8321554 , 10548.23393998, 10520.07898953,
       10417.33197318, 10456.09139657, 10616.81054133, 10529.55562902,
       10594.49071253, 10589.37225139, 10310.2370451 , 10388.76960949,
       10424.05160027, 10497.53642173, 10478.89230212, 10409.42297326,
       10359.32321375, 10388.55336531, 10182.86168968, 10190.04951819,
       10193.27485388, 10160.98174921, 10075.35913119, 10156.88980204,
       10094.40424442, 10134.28458941, 10162.83659095, 10169.97333476,
       10215.59563517, 10107.82097833,  9811.56462758,  9796.07388811,
        9817.0720503 ,  9962.5007561 ,  9832.1543854 ,  9811.82547113,
        9821.70453764,  9757.7524708 ,  9660.90171275,  9588.6290621 ,
        9527.50000579,  9507.87884769,  9447.02561635,  9394.4659702 ,
        9469.81584853,  9593.64517732,  9530.54149551,  9459.02215564,
        9617.85953857,  9466.83717808,  9512.71102398,  9483.81890179,
        9336.92950443,  9272.87366374,  9258.58197504,  9067.92405436,
        9064.20028641,  9026.99195281,  8991.62271298,  8923.04448888,
        8859.85034777,  8946.19124492,  9013.99498027,  8920.91609038,
        8883.99442043,  8762.6585846 ,  8866.27594026,  8714.03537052,
        8812.5472633 ,  8865.14901716,  8906.23151003,  8789.75641129,
        8727.66737297,  8622.5105622 ,  8620.59558199,  8743.4818909 ,
        8804.33685586,  8838.27015283])

## 정수 데이터 카운팅
* 만약 난수가 정수값이면 unique 명령이나 bincount 명령으로 데이터 값을 분석

### `unique`
* unique 함수는 데이터에서 중복된 값을 제거하고 중복되지 않는 값의 리스트를 출력
* return_counts 인수를 True 로 설정하면 각 값을 가진 데이터 갯수도 출력

In [58]:
np.unique([11, 11, 2, 2, 34, 34])

array([ 2, 11, 34])

In [60]:
a = np.array(['a', 'b', 'b', 'c', 'a'])
index, count = np.unique(a, return_counts=True)

In [61]:
index

array(['a', 'b', 'c'], dtype='<U1')

In [62]:
count

array([2, 2, 1])

In [64]:
dict(zip(*np.unique(a, return_counts=True))) # 복습할 때 zip / dict 더 설명

{'a': 2, 'b': 2, 'c': 1}

### `bincount`
* `unique` 함수는 데이터에 존재하는 값에 대해서만 갯수를 세므로 데이터 값이 나올 수 있음에도 불구하고 데이터가 하나도 없는 경우에는 정보를 주지 않음
* 따라서 데이터가 주사위를 던졌을 때 나오는 수처럼 특정 범위안의 수인 경우에는 `bincount` 함수에 `minlength` 인수를 설정하여 쓰는 것이 더 편리
* `bincount` 함수는 0 부터 `minlength` - 1 까지의 숫자에 대해 각각 카운트
* 데이터가 없을 경우에는 카운트 값이 0이 됨

In [65]:
np.bincount([1, 1, 2, 2, 2, 3], minlength=6)

array([0, 2, 3, 1, 0, 0])